# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp

# Build
*.apk
*.aab
*.ipa

# Logs
*.log
